In [70]:
import pandas as pd

In [71]:
df = pd.read_csv("dataset/seattle-weather.csv")

In [72]:
df.head()

         date  precipitation  temp_max  temp_min  wind  weather
0  2012-01-01            0.0      12.8       5.0   4.7  drizzle
1  2012-01-02           10.9      10.6       2.8   4.5     rain
2  2012-01-03            0.8      11.7       7.2   2.3     rain
3  2012-01-04           20.3      12.2       5.6   4.7     rain
4  2012-01-05            1.3       8.9       2.8   6.1     rain

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1461 entries, 0 to 1460
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           1461 non-null   object
 1   precipitation  1461 non-null   float64
 2   temp_max       1461 non-null   float64
 3   temp_min       1461 non-null   float64
 4   wind           1461 non-null   float64
 5   weather        1461 non-null   object
dtypes: float64(4), object(2)
memory usage: 68.6+ KB

In [74]:
df.shape

(1461, 6)

In [75]:
df.describe()

       precipitation     temp_max     temp_min         wind
count    1461.000000  1461.000000  1461.000000  1461.000000
mean        3.029432    16.439083     8.234771     3.241136
std         6.680194     7.349758     5.023004     1.437825
min         0.000000    -1.600000    -7.100000     0.400000
25%         0.000000    10.600000     4.400000     2.200000
50%         0.000000    15.600000     8.300000     3.000000
75%         2.800000    22.200000    12.200000     4.000000
max        55.900000    35.600000    18.300000     9.500000

In [76]:
df.isnull().sum()

date             0
precipitation    0
temp_max         0
temp_min         0
wind             0
weather          0
dtype: int64

##Deciding model

In [77]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

In [78]:
df['weather_num']=LabelEncoder().fit_transform(df['weather'])
df["weather_num"].head()
df.head()

         date  precipitation  temp_max  temp_min  wind  weather  weather_num
0  2012-01-01            0.0      12.8       5.0   4.7  drizzle            0
1  2012-01-02           10.9      10.6       2.8   4.5     rain            2
2  2012-01-03            0.8      11.7       7.2   2.3     rain            2
3  2012-01-04           20.3      12.2       5.6   4.7     rain            2
4  2012-01-05            1.3       8.9       2.8   6.1     rain            2

In [81]:
features = ["precipitation","temp_max","temp_min","wind",]
x = df[features]
y = df.weather_num
train_x, test_x, train_y, test_y = train_test_split(x, y, random_state=0)

In [82]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(train_x, train_y)
pred = model.predict(test_x)
print("Mean Absolute Error: %f" %(mean_absolute_error(test_y, pred)))

Mean Absolute Error: 0.450820

In [83]:
model.score(test_x, test_y)

0.8415300546448088

In [84]:
from sklearn.tree import DecisionTreeRegressor
model2 = DecisionTreeRegressor()
model2.fit(train_x, train_y)
pred2 = model2.predict(test_x)
print("Mean Absolute Error: %f" %(mean_absolute_error(test_y, pred2)))

Mean Absolute Error: 0.724044

#as naive bayes works best we use that

In [85]:
model.predict([[0, 12, 5, 4]])

C:\Users\lenovo\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

array([4])